:root {
  --white: #ffff;
  --very-light-pink: #c7c7c7;
  --text-input-fiel: #f7f7f7;
  --hospital-green: #ACD982;
  --sn: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Chivo Mono', monospace;
  font-family: 'Quicksand', sans-serif;
}

.nav{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--very-light-pink);
  box-shadow: 0px 0px 5px var(--very-light-pink);
  z-index: 0;
}
.extension{
  display: none;
  height: 24px;
  margin-top: 20px;
  margin-right: 36px;
}
.logo{
  width: 150px;
}
.nav_left > ul ,
.nav_right > ul {
  display: flex;
  align-items: center;
  height: 60px;
}
.nav_left > ul > li > a ,
.nav_right > ul > li > a {
  color:var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
}

/* .edit{
  padding-bottom: 10px;
}
.edit > .edit-a {
  font-weight: 500 ;
} */

.nav_left > ul > li > a:hover,
.nav_right > ul > li > a:hover{
  border-bottom: 2px solid var(--hospital-green);
  color: var(--hospital-green);
}

.nav_left {
  display: flex;
}
.nav_left > ul {
  margin-left: 12px;
}

.flechita{
  width: 10px;
  margin:0px 10px;
  transform: rotate( 90deg);
  display: block;
}
.flechita:hover{
  cursor: pointer;
}

.navbar-shoping-cart{
  padding: 10px;
}
.navbar-shoping-cart{
  position: relative;
  margin:2px 5px ;
}
.navbar-shoping-cart > .cuanto{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  border-radius:20em;
  background-color: var(--hospital-green);
  text-align: center;
  filter: opacity(80%);
}

/* modelo 2 */

.desktop-menu{
  position: absolute;
  right: 0;
  top: 60px;
  width: 120px;
  margin-right: 5px;
  height: auto;
  border: none;
  border-bottom: 1px solid var(--very-light-pink);
  box-shadow: 0px 0px 5px var(--very-light-pink);
  border-radius: 10px;
  padding: 10px 5px 10px;
  z-index: 20;
  background-color: #fff;
  }

  /********************/
/*este codigo es necesario para javascript lo que hace es desaparecer y aparecer*/
.desktop__menu--remove{
  display: none; 
}


  .desktop-menu > ul > li {
      text-align: end;
      margin-bottom: 10px;
      margin-right: 5px;
  }


  a:nth-child(1),a:nth-child(2){
      color:var(--black);
      font-weight: 400;

  }

  li:last-child > .title{
      color: var(--hospital-green);
      font-size:var(--sm);
      font-weight: 100;
  }
  hr{
      margin:0px 10px;
  }
/**********************************************/
  /*mobile */ /*ay confilic*/
.ejemplo{
display: none;
}
.plo{
  display: none;
}
.mobil__menu{
  padding: 24px;
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 800px;
}
.mobil__menu--remove{
display: none;
}
.mobil_items_link{
margin: 20px;
padding:24px 0 0;
margin: 0;

}
.mobil_items_link:nth-child(1){
border-bottom: 1px solid var(--hospital-green);
}
.mobil_items_link .mobil_items{
margin-bottom: 24px;
}
.mobil__menu  .mobil_link {
color:var(--black) ;
font-weight: bold;
/* margin-bottom: 24px; */
}

.my--orde{
padding: 10px 0px ;

}
.info > .email{
font-size: var(--sm);
font-weight: 300;
color: var(--hospital-green);
}
.info{
  padding: 10px 0px;
}
.info > .sign-out{
font-size: var(--md);
color: var(--hospital-green);
}

/*main*/

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.contenedor__imagenes {
  box-shadow: 4px 0px 14px 1px #f2ebd559;
  width: 55%;
  height: 100vh;
  min-width: 700px;
}

.imagenes__portadas {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  gap: 2px;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-areas: 
  "primera primera segunda" 
  "tercera tercera tercera" 
  "tercera tercera tercera" 
  "sexta septimo septimo";
}

.imagenes__paisaje {
  height: 200px;
  position: relative;
}

.imagenes__paisaje>.imagenes {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.fa-sharp {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  left: 0;
  opacity: 0;
}

.imagenes__paisaje>img:hover {
  filter: contrast(40%);
  transition: 2s;
}

.imagenes__paisaje:hover .fa-sharp {
  opacity: 1;
}

.imagenes__paisaje:nth-child(1) {
  grid-area: primera;
}

.imagenes__paisaje:nth-child(3) {
  grid-area: tercera;
}

.imagenes__paisaje:nth-child(7) {
  grid-area: septimo;
}

.login {
  display: grid;
  height: 800px;
  align-content: center;
  margin: 0 auto;
}

.imagen__gota {
  display: none;
  background-image: url('../imagenes/imagenescurvas/blob-haikei.svg');
  aspect-ratio: 960/300;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.imagen__vista {
  display: none;
  background-image: url('../imagenes/imagenescurvas/undraw_summer_1wi4.svg');
  aspect-ratio: 960/300;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.imagen__logo {
  text-align: center;
}

.imagen__logo>img {
  width: 180px;
  height: 100px;
}

.form {
  border: 2px solid rgb(165, 157, 157);
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--lg);
  margin-bottom: 10px;
}

.contenedor__form {
  display: flex;
  flex-direction: column;
  height: 250px;
  line-height: 30px;
}

label {
  font-size: var(--sn);
  font-weight: bold;
  margin-bottom: 4px;
}

.input__form {
  background-color: var(--text-input-fiel);
  border: none;
  border-radius: 8px;
  width: 300px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
}

.input__form::placeholder {
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.contenedor__recuperacion {
  text-align: right;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 20px;
}

button {
  background-color: var(--text-input-fiel);
  border-radius: 8px;
  border: 2px solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: var(--nd);
  font-weight: 800;
  height: 50px;
  filter: drop-shadow(0px 0px 2px var(--hospital-green));
  margin-top: 15px;
}

.registrarse{
font-size: var(--sn);
font-weight: bold;
}

/*---------------------*/


/*footer*/


/*footer*/

.btn-flotante {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  padding: .5rem 2rem;
  background-color: var(--claro);
  -webkit-box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 32px -10px rgba(0,0,0,0.75);
  color: var(--obscuro);
  text-decoration: none;
}
.btn-flotante.activo {
  background-color: var(--primario);
  color: var(--claro);
}
.imagen__curva{
  background: url("../imagenes/imagenescurvas/curva2.svg");
  aspect-ratio: 960/300;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer {
  background-color: var(--white);
  border-top: 1px solid var(--obscuro);
  position:fixed;
  bottom: 0;
  padding-top: 3rem;
  transition: all 0.25s ease-in;
  width: 100%;
  -webkit-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
  box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);
  padding: 3rem 0;
}
.footer_activo{
   display: none;
}
.footer .contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
  grid-gap: 1rem;
}
.navegacion-imagenes{
  grid-area: 1/5;
  align-self: center;
  justify-self: center;
  width: 20vw;
  height: 10vh;
}
.twiter{ 
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}
.twiter .fa-brands{
   filter:grayscale(100%)    ;
   -webkit-filter:grayscale(100%)    ;
}
.fa-twitter:hover{
  color: rgb(26, 26, 138);
  filter:grayscale(0%) ;
  -webkit-filter:grayscale(0%) ;
}
.fa-youtube:hover{
  color: red;
  filter:grayscale(0%) ;
  -webkit-filter:grayscale(0%) ;
}
.fa-discord:hover{
  color: rgb(43, 9, 196);
  filter:grayscale(0%) ;
  -webkit-filter:grayscale(0%) ;
}
.fa-github:hover{
  color: black;
  filter:grayscale(0%) ;
  -webkit-filter:grayscale(0%) ;
}
.fa-facebook:hover{
  color: rgba(40, 13, 195, 0.373);
  filter:grayscale(0%) ;
  -webkit-filter:grayscale(0%) ;
}
.footer .nav-footer {
  padding: 1rem;
}
.footer .menu a{
  color: var(--obscuro);
  text-decoration: none;
  display: block;
  padding-top: .5rem;
} 
/*hi*/
@media (max-width: 965px) {
.imagen__curva{
  height: 100%;
}
  .extension{
      display: block;
  }
  .nav_left > ul {
      display:none;
  }
  .nav_right > ul > li:first-child{
      display: none;
  }
  .logo{
      margin: 0px 30px;
  }
  
  .flechita{
      display: none;
  }
  .desktop-menu{
      display: none;
  }
  .plo{
    display: block;
  }
  .product-detail {
    width: 100%;
  }
  .ejemplo{
    display: block;
  }

  .contenedor__imagenes {
      display: none;
  }
  .imagen__gota {
      display: block;
  }
  .imagen__vista {
      display: block;
      animation: banner 10s infinite;
    }
    
@keyframes banner{

  0% {background-image:url(../imagenes/imagenescurvas/imagen4.svg);}

  33%{background-image: url(../imagenes/imagenescurvas/imagen4.svg);}

  34%{background-image: url(../imagenes/imagenescurvas/imagen2.svg);}

  66%{background-image: url(../imagenes/imagenescurvas/imagen2.svg);}

  67%{background-image:url(../imagenes/imagenescurvas/imagen3.svg);}
  
  100%{background-image:url(../imagenes/imagenescurvas/imagen3.svg);}
} 
  .form {
      width: 280px;
  }
  .input__form {
      width: 250px;
  }
  button{
    filter:none;
  }

  .registrarse {
    font-size: 11px;
  }
  .footer,.btn-flotante{
      display: none;
    }
}